@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --font:'Dancing Script', cursive,sans-serif;
}
@font-face {
    font-family: 'Secular One2';
    src: url('fonts/Bangers/Bangers-Regular.ttf') format('truetype'),url('fonts/Berkshire_Swash/OFL.txt') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0%;
    border: 0%;
}
body{
    text-align: justify;
    margin:0%;
}
header{
    text-align:center;
    background: black ;
    color: white;
    padding: 20px;;
    font-family: 'Secular One2',sans-serif;
}
header h1{
    padding-top: 40px;
    font-variant: small-caps;
    font-size: 7vh;
}
header p{
    padding-bottom: 7vh;
    color: white;
    text-decoration:none;
    font-size: 2em;
}
main{
    padding:10px 0px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration:underline ;
}
section{
    height: 800px;
    line-height: 30px;
    
}
section p{
    font-family: 'Dancing Script', cursive;
}
p{
    line-height: 30px;
    font-size: 3vh;
    padding-bottom: 10px;
}
.image{
    background:left center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 2px 2px 6px 0px rgba(0, 0, 0, 0.356);
}
.image p{
    padding: 10px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.644);
    color: white;
    line-height: 2em;
    left: 10%;
    top: 20%;
    transform: translate(0%,0%);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.336);
    font-family: 'Dancing Script', cursive;

}
#tema1{
    background:url('../imagens/background001.jpg') left center no-repeat fixed;
}
#tema2{
    background:url('../imagens/background002.jpg') right center no-repeat fixed;
}
.normal{
    padding: 30px;
    
   
}
.normal p{
    padding: 05px 05px;
    line-height: 50px;
}
#normal{
    height: 400px;
}
footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}
